.content {
	//Aqua color
	.page-col-aqua {
		@col: @aqua;
		.pg-col(@col);		
	}
	//End aqua color

	//Purple color

	.page-col-purple {
		@col: @purple;
		.pg-col(@col);		
	}
	//End purple color
	
	//Green color
	.page-col-green {
		@col: @green;
		.pg-col(@col);		
	}
	//End green color
	
	//Pink color
	.page-col-pink {
		@col: @pink;
		.pg-col(@col);		
	}
	//End pink color
	
	//Orange color
	.page-col-orange {
		@col: @orange;
		.pg-col(@col);			
	}
	//End orange color
	
	//Blue color
	.page-col-blue {
		@col: @blue;
		.pg-col(@col);			
	}
	//End blue color

}