header[role="banner"] {
.h(7.5);
.over-hide;

	@media (min-width: @screen-sm) {
	.h(8);
	overflow: visible;
		&.pos-abs {
		.abs;
		.top(0);
		.left(0);
		width: 100%;	
		z-index: 10;
		}
	}
	
	.header-inner {
	.bg-col(white);	
	.rel;
	.h(7.5);
	.mag-left(-1.5);
	.mag-right(-1.5);
		@media (min-width: @screen-sm) {
		.h(8);
		.mag-left(0);
		.mag-right(0);
		}
	}
	
	h1 {
	.mag-all(0);
	.pad-left(1.5);
		a {
		.block;
		.h(4.5);
		.bg-img("tlw-logo-mobile.png");
		.bg-repeat(no-repeat);
		background-position: left center;
		
			@media (min-width: @screen-sm) { 
			.h(8);
			.bg-img("tlw-logo.png");
			}
		
			@media
				only screen and (-webkit-min-device-pixel-ratio: 1.5),
				only screen and (   min--moz-device-pixel-ratio: 1.5),
				only screen and (     -o-min-device-pixel-ratio: 3/2),
				only screen and (        min-device-pixel-ratio: 1.5){ 
				.bg-img("x2/tlw-logo-mobile-x2.png");
				.bg-size(contain);
				
				@media (min-width: @screen-sm) { 
				.bg-img("x2/tlw-logo-x2.png");
				.bg-size(contain);
				}
			}
			
			&:hover, &:active, &:focus{
			.opacity(0.5);	
			}
			
		}
			
	}
	
	span.tel-num {
	.block;
	.font-size(2);
	.line-h(3);	
	.col(white);
	.bg-col(@red);
	
		@media (min-width: @screen-sm) { 
		.line-h(8);	
		.bg-col(transparent);
		.col(@green);
		}
	
		@media (min-width: @screen-md) { 
		.font-size(3);	
		}
			
		i {
		.col(@redMid);	
			@media (min-width: @screen-sm) {
			.col(@gray);
			}
		}
		
		a {
		.col(white);
			@media (min-width: @screen-sm) {
			.col(@green);
			}	
		}
		
	}
	
	#nav-btn {
	.abs;
	.right(0); .bottom(0);
	.rounded(0px);
	.no-border;
	.col(white);
	.w(4.5);
	.h(4.5);
	
		&.in-active {
		.bg-col(@gray);	
		}
	
		&.active {
		.bg-col(darken(@grayDk, 10%));
		}	
	}
}