/* BASE SIZES */
/* COLORS */
/* MP COLORS */
/* SCREEN SIZES */
/* FONTS */
@font-face {
  font-family: 'open_sanslight';
  src: url('fonts/OpenSans-Light-webfont.eot');
  src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/OpenSans-Light-webfont.woff') format('woff'), url('fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* LINKS */
.no-text-dec {
  text-decoration: none;
}
.underline {
  text-decoration: underline;
}
/* TEXT */
.font-lite {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 'open_sanslight', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-stretch: normal;
}
.font-normal {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-stretch: normal;
}
.caps {
  text-transform: uppercase;
}
.no-caps {
  text-transform: none;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.list-style-gone {
  list-style: none;
  padding-left: 0px;
}
/* BACKGROUND */
/* SIZE */
/* DISPLAY */
.block {
  display: block;
}
.none {
  display: none;
}
.in-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.over-hide {
  overflow: hidden;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.no-float {
  float: none;
}
.clear {
  clear: both;
}
/* POSITION */
.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fixed {
  position: fixed;
}
/* MARGIN */
.mag-auto {
  margin: auto;
}
/* PADDING */
/* BORDERS */
.no-border {
  border: none;
}
.shadow-inset-none {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.box-sizing {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

}
.no-box-sizing {
  -webkit-box-sizing: content-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.no-rounded {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: normal;
  font-stretch: normal;
}
h2,
h3,
h4,
h5 {
  margin-top: 0px;
  color: #918f8f;
}
p,
ul,
ol {
  font-size: 16px;
  line-height: 20px;
}
p {
  margin-bottom: 20px;
}
p.intro {
  font-weight: bold;
  color: #656565;
}
p:last-child {
  margin-bottom: 0px;
}
ul {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
}
ul li {
  padding-left: 20px;
  position: relative;
}
ul li:before {
  position: absolute;
  left: 0px;
  content: "\00BB";
  color: #918f8f;
  font-weight: bold;
  margin-right: 10px;
}
ol {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 20px;
  list-style-position: inside;
  counter-reset: item;
}
ol li {
  position: relative;
}
ol li:before {
  content: counters(item, ".") " - ";
  counter-increment: item;
  color: #918f8f;
  font-weight: bold;
}
blockquote {
  font-style: italic;
  color: #918f8f;
  border-color: #7e7e7e;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 {
  font-size: 25px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", 'open_sanslight', "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-stretch: normal;
  text-transform: uppercase;
}
h4,
h5 {
  font-size: 18px;
}
hr {
  border-color: #c4c2c2;
}
a {
  color: #c60751;
}
a:hover,
a:active,
a:focus {
  color: #7a1039;
}
